<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <style>
      table { width: 100%; border-collapse: collapse; font-family: "Segoe UI";
      font-size: 12px; color: #4b4b4b; border: 1px solid #eeeeee; } th, td {
      border: 1px solid #eeeeee; padding: 7px; text-align: justify; } .item-image {
      width: 100px; height: 100px; } .brand-image { width: 150px; } .font-18 { font-size: 18px; } .font-15 {
      font-size: 15px; } .center { text-align: center; } .bold { font-weight:
      bold; } .green { color: #073d00; }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td colspan="1"><img class='brand-image' src={{brandIcon}} alt="..." /></td>
        <td class="bold green" colspan="5">Pedido # {{id}}</td>
      </tr>

      <tr>
        <td class="font-15 bold green" colspan="6">PRODUCTOS</td>
      </tr>

      <tr>
        <th></th>
        <th class="green">Producto</th>
        <th class="green" colspan="3">Precio</th>
        <th class="green">Total producto</th>
      </tr>

      {{#if shipping}}
        <tr>
          <td class='center'><img class='item-image' src={{shippingIcon}} alt="..." /></td>
          <td>Servicio de domicilio para Medellín - área metropolitana</td>
          <td colspan="3">1 unidad a {{formatNumber shipping}}</td>
          <td>{{formatNumber shipping}}</td>
        </tr>
      {{/if}}

      {{#each products}}
        <tr>
          <td class='center'><img class='item-image' src={{this.img}} alt="..." /></td>
          <td>{{this.name}}</td>
          {{#if (gt this.discount ../discountUnits)}}
            <th>{{../discountUnits}} unidades a {{discountedPrice this}} - {{this.discount}}% descuento</th>
            <td>{{subs this.quantity ../discountUnits}} unidades a {{formatNumber this.price}}</td>
            <td><b>Ahorro:</b> {{formatNumber (getSavingProduct this)}}</td>
          {{else}}
            <td colspan="3">{{this.quantity}} unidades a {{formatNumber this.price}}</td>
          {{/if}}
          <td>{{formatNumber (subs (getAmountProduct this) (getSavingProduct this))}}</td>
        </tr>
      {{/each}}

      <tr>
        <td class="font-15 bold green" colspan="6">TOTALES</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Total: </th>
        <td colspan="4">{{formatNumber (add (subs (getAmount products) (getSaving products)) shipping)}}</td>
      </tr>

      {{#if (getSaving products)}} 
        <tr>
          <th class="green" colspan="2">Tu ahorro:</th>
          <td colspan="4">{{formatNumber (getSaving products)}}</td>
        </tr> 
      {{/if}}

      <tr>
        <td class="font-15 bold green" colspan="6">CONTACTO</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Nombre</th>
        <td colspan="4">{{name}}</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Celular</th>
        <td colspan="4">+57 {{phone}}</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Correo</th>
        <td colspan="4">{{email}}</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Ciudad/Municipio</th>
        <td colspan="4">{{city}}</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Dirección</th>
        <td colspan="4">{{address}}</td>
      </tr>

      {{#if addressDetail}} 
        <tr>
          <td colspan="6">{{addressDetail}}</td>
        </tr>
      {{/if}}

      {{#if neighborhood}} 
        <tr>
          <th class="green" colspan="2">Barrio</th>
          <td colspan="4">{{neighborhood}}</td>
        </tr>
      {{/if}}
      
      <tr>
        <td colspan="6">
          El tiempo de llegada varía con respecto a tu ubicación en Medellín y su área metropolitana, 
          una vez confirmado el pago nos pondremos en contacto contigo para agilizar este proceso.
        </td>
      </tr>

      <tr>
        <td class="font-15 bold green" colspan="6">PAGO</td>
      </tr>

      <tr>
        <th class="green" colspan="2">Método de pago</th>
        <td colspan="4">{{method}}</td>
      </tr>

      <tr>
        <td class="bold green" colspan="6">GRACIAS POR SU COMPRA.</td>
      </tr>

      <tr>
        <td class="bold green" colspan="6">Fruver y Mercado el Líder NIT: 3 537 213 - 9. No responsable de IVA.</td>
      </tr>
    </table>
  </body>
</html>
